[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
wheel = "*"
cryptography = "*"
python-dotenv = "*"
requests = "*"
scikit-learn = "*"
pandas = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.10"
