h1 {
  color: white;
  font-weight: 400;
  font-size: 4ch;
}

.sub-container {
  width: 90vw;
  max-width: 550px;
  min-height: 32vh;
  border-radius: 0.5rem;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-tf {
  border-radius:0.3rem;
  height:3.4rem;
}


.butt {
  background-color: #00ADB5;
  width: 13rem;
  align-self: center;
}

.link-text {
  align-self: center;
}
.butt2 {
  background-color: #00ADB5;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  width: fit-content;
  height:3.4rem;
}
.input-cont{
  display: flex;
  flex-direction: row;
}
.generate-btn-group{
  display: flex;
  flex-direction: column;
}