{% extends 'base.html' %}

{% block head %}
<title>Report</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/report.css')}}">
{% endblock %}

{% block body %}
<div class="main-container">
  <div>
    <div>
      <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FDevelopment%2BPhase%2FGlobalSales%2Breport1&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1280" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div>
      <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FDevelopment%2BPhase%2FGlobalSales%2Breport2&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1280" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div>
      <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FDevelopment%2BPhase%2FGlobalSales%2Breport%2B3-p&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1280" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div>
      <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FDevelopment%2BPhase%2FGlobal%2BSales%2Breport4&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1280" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div>
      <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FDevelopment%2BPhase%2FGlobal%2BSales%2Breport%2B5&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;prompt=false" width="1280" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div>

    </div>
    <div class="sub-container quote m-3">
      <h3>Programmer Jokes API</h3>
      <p id="joke">
        
      </p>
    </div>
  </div>
  
</div>
<script>
  async function joke() {
    await fetch("https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,religious,political,racist,sexist,explicit&type=single", {
      method: "GET",
    }).then(async (res) => { 
      let t= await res.json();
      document.getElementById('joke').innerHTML=t.joke
    }).catch((err) => { console.log(err) })
  }
  joke();
</script>
{% endblock %}